body{
    background-color: #f8f9fa;
}
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

p{
    margin: 0;
    display: inline;
    line-break: normal;
}

.icn{
    margin: 0;
    display: inline;
    height: 30px;
    width: 30px;
}

p .ich {
    line-break: normal;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
    border-bottom: 1px solid #e9ecef;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;

}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

footer {
    border-top: 1px solid #e9ecef;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #686868;
    text-align: justify;
    font-size: 12px;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.icon {
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
}

.icon img {
    justify-content: center;
    align-content: center;
    display: flex;
}

.icon p {
    margin-bottom: 2px;
}

.icon .desc {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

